# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# OS files
.DS_Store
Thumbs.db

# Rider and VS Code
.idea/
.vscode/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.bak

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec
*.psmdcp

# DotCover
*.dcvr

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Test results
TestResults/
*.coverage
*.coveragexml

# Visual Studio Code workspace history
.history/

# Optional: ignore Advent of Code inputs
Inputs/*.txt
!Inputs/example*.txt
